@model MaksGym.Models.Subscription

@{
    ViewData["Title"] = "Додати підписку";
}

<h2>Додати абонемент</h2>

<form asp-controller="Subscription" asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>

    <input type="submit" value="Додати підписку" />

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
