@{
    ViewData["Title"] = "Home Page";
    Layout = ViewData["Layout"] as string;
}

<div class="text-center ">
    <img src="https://scontent-iev1-1.xx.fbcdn.net/v/t39.30808-6/291328414_435724455229412_6928131121224667823_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=nis8Ix5QVV0Q7kNvwF17uQj&_nc_oc=AdmcTLzyZcPnbdaIEQcp0L3n6qAf-hs8n9Jma8gSR8skQ2WS2o6c7DrBmOfPB78DXak&_nc_zt=23&_nc_ht=scontent-iev1-1.xx&_nc_gid=X3zdF5TslBJU-XfkMPtKzA&oh=00_Afb7DjQ02T9Ham_W5XG_ni1T1p7pCGdb27BqSDhaEyRyAQ&oe=68C6EF2C" alt="MaksGym Logo" class="img-fluid" style="max-width: 700px;" />
</div>
